**/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml
.DS_Store

**/command-output/

.idea/
*.iml

yarn.lock
**/pulumiManifest.go

**/node_modules

ci-scripts
**/schema.go
**/schema-embed.json
**/version.txt
**/nuget
**/dist

sdk/java/build
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat


sdk/python/venv
